
.none-rounded-left{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.circle-green{
  height: 16px;
  width: 16px;
  border: 1px solid #03ac2d;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in 0.3s;
}
.bg-green, .circle-green:hover {
    background-color: #03ac2d;
}
.circle-bg-green {
    height: 16px;
    width: 16px;
    border: 1px solid #03ac2d;
    background-color: #03ac2d;
    cursor: pointer;
    border-radius: 50%;
    transition: ease-in 0.3s;
}
.out-bg-green,
.circle-bg-green:hover {
    background-color: #ffffff;
}
.list-todo{
  font-size: 19px;
  font-weight: 500;
  margin-left: 20px;
}
.text-complete .form-control:disabled {
  border-bottom: 7px solid #03ac2d;
}